[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
pylint = "*"

[packages]
falcon = "*"
gunicorn = "*"
coveralls = "*"
pyjsend = "*"
sentry-sdk = "*"
mako = "*"
requests = "*"
sendgrid = "*"

[requires]
python_version = "3.7"
